*{
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    display: flex;
    align-items: center;
   justify-content: center;
}

.choices {
    display: flex;
    justify-content: space-between;
    
}